@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Myeongjo', serif;
}
.backdrop{
  backdrop-filter: blur(5px);
  background-color:rgba(0, 0, 0, 0.233) ;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-div{
  
  width: 100%;
  height: 100vh;
  background-image: url(./assets/photo-1444653614773-995cb1ef9efa.avif);
 
}
.login{
  background-color: rgba(255, 255, 255, 0.847);
  padding:4rem 6rem;
}
.login div h2{
  font-size: 4rem;
  margin-bottom: 1rem;
 
 
}
.login hr{
  margin: 2rem 0;
  
  
}
.login p{
  color: #4e4e4e;
}
input{
  padding: 0.9rem;
}

.form-input input{
  border-radius: 1rem;
  border: 1px solid grey;
  width: 100%;
  height: 2rem;
  margin-top: 5px;
}

.rememberme{
  display: flex;
  font-size: 0.9rem;
  margin: 0.5rem 0;
  justify-content: space-between;

  
}
.rememberme button{
  border: none;
  background-color: rgba(255, 255, 255, 0);
  
}
button{
  cursor: pointer;
}

.rememberme div input{
  margin-right: 0.5rem;

}

[value="Login"] ,[value="SignUp"]{
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.25rem;
  margin: 1rem 0;
  background-color:#4E4E4E;
  color: white;
  cursor: pointer;
}
.sidebar{
  width: 9rem;
  height: 100vh;
  background-color: #edf5fe;
}
.sidebar h1{
  text-align: center;
  padding: 2rem 0;
  color: #3584f2;
}
.sidebar-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 3rem;
}
.sidebar-div div{
  text-align: center;
  margin: 2rem 0;
}
.sidebar-div p{
  margin-top: 0.3rem;
}

.sidebar-logout{
 position: relative;
 bottom: -110px;
 
}

.sidebar-logout div{
  margin: 0;
}
.sidebar-div-items{
  color: #818181e6;
}
.sidebar-link{
  color: #818181e6;
  text-decoration: none;
}
.sidebar-link-logout{
  color: black;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.sidebar-items{
  padding: 5px;
  margin: 0px 10px;
}

.sidebar-items:hover{
  box-shadow: 0px 0px 10px #3584f2 ;
  border-radius: 1rem;
  color: #478FF2;
}

.sidebar-items-clicked{
  box-shadow: 0px 0px 10px #3584f2 ;
  border-radius: 1rem;
  color: #478FF2;
}
.main{
  display: flex;
}

.home,.updates,.statements{
  margin: 3rem;
  width: 100%;
}
.home p{
  color:#7a7a7a ;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.home h1{
  margin-bottom: 5rem;
}
.home h2{
  margin-bottom:1rem ;
  font-size: 1.1rem;
}
.rec-trans-div{

 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 2rem;
}

.rec-t-in-div{
  display: flex;
  align-items: center;
}
.rec-t-in-div p{
  margin: 0 20px 0 5px ;
}
.rec-trans{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.plus-icon{
  
   background-color:#e9ecf0;
   padding: 12px;
   border-radius: 50%;
   
}

.rec-trans h3{
    margin-bottom: 5px;
}
.rec-trans p{
  margin: 0;
}
.home-div{
  display: flex;
  
}
.transactions{
  width: 80%;
  height: 65vh;
  box-shadow: 1px 1px 10px #dcdee0;
  padding: 2rem;
  border-radius: 2rem;
}
.balance{
  width: 45%;
  margin: 0 2rem;
  padding: 1rem;
  box-shadow: 1px 1px 10px #dcdee0;
  border-radius: 2rem;
}
[name="select-upd"],.updform-d input{
  margin: 0.3rem 0 1rem 0;
  width: 100%;
  height: 3rem;
 
  
}
.updform-d{
  margin: 3rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  
  height: 65vh;
}
.updform-d form{
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
}
[type="submit"]{
  background-color: #478FF2;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
option{
  text-align: center;
  font-size: 1rem;
}

.form-search{
   display: flex;
   margin-bottom: 2rem;

}
